body{
    margin: 0;
    background-repeat: no-repeat;
    background-image: url(img/fundo.png);
    background-size: cover;
}

/*HEADER*/
.header{
    background-color: rgb(80, 80, 248);
    border-bottom: 5px solid yellow;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.3);
    padding: 9px 0;
    width: 100%;
    position: fixed;
    z-index: 999 !important;
    overflow: auto;
}


.mousseria{
    text-align: center;
    margin-top: 10%;
}

.header img {
    height: 50px;
    float: left;
}
.container {
    width: 80%;
    margin: auto;
}

.titulo {
    float: left;
    margin: 0.5%;
}


.destaque {
    color: rgb(84, 245, 84);
}

.navbar {
    text-align: right;
    list-style: none;
    float: right;
}

.navbar li {
    float: left;
    margin-left: 10px;
    text-transform: uppercase;
}



.item_menu {
    float: left;
    margin-right: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: yellow;
   
}

a {
    text-decoration: none;
    
}

a:hover {
    color: rgb(84, 245, 84);
}

/* Login
.form_box_login{
    width: 30%;
    margin-top: 15%;
    margin-left: 34%;
    background:rgb(70, 70, 247);
    text-align: center;
    border-radius: 5px;
} 
.painel_perfil a img{
    width: 50px;
    height: 50px;
}  */

/*Pedidos*/
.form_box{
    width: 650px;
    position: sticky;
    padding: 6%;
    margin-left: 15%;
    background: rgb(88, 88, 248);
    text-align: center;
}


.carrinho {
    text-align: center;
    position: fixed;
    overflow: auto;
    background-color: rgb(163, 218, 255);
    margin-top:100px ;
    margin-left: 1220px;

}
.price img{
    margin-top: 10px;
    width: 60px;
}

.btn_carrinho{
    border: 0;
    background-color: blue;
    width: 80px;
    height: 30px;
    display: block;
    border: 2px solid rgb(30, 155, 30);
    outline: none;
    color: white;
    border-radius: 24px;
    cursor: pointer;
}

.btn_carrinho:hover{
    background: cyan;
}

.form_box h1{
    text-align: uppercase;
    text-align: center;
    font-weight: 500;
}/* para os inputs que não precisa de cuidados especiais */
.form_pedido{
    border: 0;
    background: none;
    margin: 10px auto;
    text-align: center;
    border: 2px solid rgb(30, 155, 30);
    padding: 7px 5px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}
.form_pedido:focus{
    width: 210px;
    border-color: chartreuse;
}
/*para o input do escrever pedido*/
.form_pedido1{
    border: 0;
    background: none;
    margin: 10px auto;
    text-align: center;
    border: 2px solid rgb(30, 155, 30);
    padding: 7px 5px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    padding: 6%;
}
.form_pedido1:focus{
    width: 210px;
    border-color: chartreuse;
}
/*para os inputs de uf e complemento*/
.form_pedids{
    border: 0;
    background: none;
    margin: 10px auto;
    text-align: center;
    border: 2px solid rgb(30, 155, 30);
    padding: 7px 5px;
    width: 20px;
    outline: none;
    color: white;
    border-radius: 14px;
    transition: 0.25s;
}
.form_pedids:focus{
    width: 30px;
    border-color: chartreuse;
}
.cardapio_numerico button{
    background-color: rgb(30, 155, 30);
    color: yellow;
    width: 25px;
    border-radius: 24px;
    
}
.cardapio_diminuir {
    background-color: rgb(30, 155, 30);
    color: yellow;
    width: 25px;
    border-radius: 24px;
}
.btn_estoque{
    background-color: rgb(30, 155, 30);
    color: yellow;
    width: 100px;
    border-radius: 24px;
}
.btn-entrar{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid rgb(30, 155, 30);
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.btn-entrar:hover{
    background: cyan;
}

.btn-entrar_login{
    border: 0;
    background: none;
    display: block;
    margin-left: 45%;
    text-align: center;
    border: 2px solid rgb(30, 155, 30);
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.btn-entrar_login:hover{
    background: cyan;
}

.whats{
    margin-left: 300px;
    margin-right: 0;
    float: left;
    overflow: auto;
    width: 30px;
}
.mous{
    margin-top: 60px;
    margin-right: 150px;
    color: chartreuse;
    
}

/*ABA PERFIL*/





.painel_perfil_notifica{
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.3);
    height: 100vh;
    width: 40vh; 
    background-color: white;
    text-align: center;
    float: left;
    overflow: auto;

}

.painel_perfil_notifica img{
    text-align: center;
    margin-top: 12vh;
    height: 15vh;
    width: 15vh;

}
.selec{
    color: black;
}

.produto{
    display: none;
    margin-left: 25vh;
    text-align: center;
   
}

.inputs{
    width: 75vh;
    height: 4vh;
}

.produto input[type = "submit"]{
    border: 0;
    background: rgb(91, 91, 248);
    display: block;
    text-align: center;
    border: 2px solid rgb(30, 155, 30);
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.produto input[type="submit"]:hover{
    background: cyan;
}
.box1 img {
    height: 100px;
}

.box1 {
    overflow: auto;
    border-bottom: 5px solid #4b4bb1;
    background-color: #232323;
    color: white;
    height: 10px;
}

.box1-item {
    text-align: center;
    position: relative;
    float: left;
    text-align: center;
    width: 20%;
}
.cardapio{
    margin-top: 5%;
    overflow: auto;

}
.box-item {
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.3);
    margin-left: 2%;
    float: left;
    text-align: center;
    width: 23%;
    height: 400px;
    overflow: auto;
    margin-top: 1%;
}

.estoque{
    display: none;
    padding-top: 100px;
    width: 100%;
    text-align: center;  
}

.detalhado{
    display: none;
    background-color: rgb(53, 80, 235);
    margin-left: 70vh;
    width: 100vh;
    margin-top: 20vh;
    text-align: center;
}
/*VISÃO, MISSÃO, VALORES*/

.missao{
    width: 30%;
    float: left;
    overflow: auto;

    text-align: center;
    margin-right: 5%;
}



/*FOOTER*/

.footer{
    margin-top: 100px;
    background-color:rgb(91, 91, 248);
    color: yellow;
    text-align: center;
    height: 50px;
   
}